<div class="column">
  <h1>about Frank</h1>
  <p>Hi, my name is Jan Frederik Hake. I am a software developer from Dortmund / Germany.</p>
  <p>I’ve been coding for years on different topics.
  I prefer do work as a full stack engineer, because every part of an application has its challenge and its charm.</p>
  <p>I have been working on / with</p>
  <ul>
    <li>clustered relational databases with hundreds of tables and thousands of stored procedures
    </li>
    <li>code bases with millions of lines of code
    </li>
    <li><a href="http://en.wikipedia.org/wiki/Brownfield_(software_development)">brownfield</a> projects / products
    </li>
    <li>document based database systems with millions of documents and terabytes in size
    </li>
  </ul>
  <p>This is <strong>Frank</strong>, where you can browse through <a [routerLink]="['/']">repositories</a>, which <strong>Frank</strong> knows about.

  </p>
  <p>You can contact me via <a href="mailto:jan_hake@gmx.de">jan_hake@gmx.de</a>, <a href="https://www.xing.com/profile/JanFrederik_Hake">xing</a>, <a href="https://github.com/enter-haken">github</a> or <a href="https://www.twitter.com/enter_haken">twitter</a></p>
  <h1>Disclosures pursuant to §5 TMG (German law).</h1>
  <p>Since I am a German citizen, I am obligated to make disclosures pursuant to §5 TMG (German law).</p>
  <h2>Address</h2>
  <pre><code>
  Jan Frederik Hake
  Bergstraße 39
  44339 Dortmund
  </code></pre>
  <h2>Contact</h2>
  <pre><code>
  Phone: +49 (0) 160 91688202
  E-Mail: jan_hake@gmx.de
  </code></pre>
  <h2>Responsible for the content according to § 55 Abs. 2 RStV (German law):</h2>
  <pre><code>
  Jan Frederik Hake
  Bergstraße 39
  44339 Dortmund
  </code></pre>
  <h2>Liability for links</h2>
  <p>My web site contains links to third party websites. I can’t give guarantees for the content of this external source. The respective provider or operator of the pages is always responsible for the contents of the linked pages. The linked pages were checked for possible legal violations at the time of linking. If I become aware of any legal infringements, I will immediately remove such links.</p>

</div>
