<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    {{name}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      The HEAD is set to <strong>{{headBranch}}</strong>.
      The main file type is <strong>{{mainFiletype}}</strong>.
      The license is <strong>{{license}}</strong>.
      This repository contains <strong>{{fileCount}}</strong> files.
    </div>
  </div>
  <footer class="card-footer">
    <a href="{{url}}" class="card-footer-item">Show code</a>
  </footer>
</div>
